{{ include('_prerequisites.html.twig') }}

<body class="w3-black">

    {{ include('landing/_sidebar.html.twig') }}

    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
        <!-- Header/Home -->
        <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
            <h1 class="w3-jumbo">
                <span class="w3-hide-small">
                    The Boss of Me
                </h1>
                <p>
                    {# Stop keeping track of what's next while you're doing what's now #}
                    Focusing on now but knowing when to stop.
                </p>
            </header>






        <h3 class="w3-padding-16 w3-text-light-grey">Yippee!</h3>
    <p class="w3-wide" id="task1">[0:25]    Curling practice  </p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:95%"></div>
    </div>
    <p class="w3-wide" id="task2">[0:35]    Vacuuming  </p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide" id="task3">[0:10]    Take a break  </p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:80%"></div>
    </div>
    <p class="w3-wide" id="task4">[0:20]    Emailing  </p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:95%"></div>
    </div>
<p class="w3-wide" id="task5">[0:40]    Review yesterday's notes  </p>
<div class="w3-white">
  <div class="w3-dark-grey" style="height:28px;width:95%"></div>
</div>
<p class="w3-wide" id="task6">[0:15]    Lift  </p>
<div class="w3-white">
  <div class="w3-dark-grey" style="height:28px;width:95%"></div>
</div>
<br/>




                                            {{ include('landing/_footer.html.twig') }}

                                        <!-- END PAGE CONTENT -->
                                        </div>

                                    </body>
                                    