    <!-- Footer -->
    <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
<p class="w3-medium">Rightweight CSS Template by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
    <a href="https://github.com/atom-box"><i class="fa fa-github-square w3-hover-opacity"></i></a>
    <a href="https://twitter.com/MisterGenest"><i class="fa fa-twitter w3-hover-opacity"></i></a>
        <a href="https://www.linkedin.com/in/evan-genest-b6648380/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>

  <!-- End footer -->
